body {
  font-size: 20px;
}

#body-container {
  margin: 0 auto;
  width: 80%;
  border: 1px solid black;
}

/* ----------------------------------------------Page header---------------------------------------------------- */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #45505b;
}


.circle-icon {

  color: #45505b;
  background-color: #f2f3f5;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  padding: 10px;
}

.active {
  background-color: rgb(5, 99, 187);
  color: #fff;
}

.navbar {
  border-color: 3px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  overflow-y: visible;

  position: fixed;
  top: 180px;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;


  /* align-self: center; */
}

.fixed-content {
  /* overflow-y:scroll; */
  overflow-x: hidden;
}

.navItem {
  margin-top: 5px;
}


.navItemBg {
  /* background: #e6e0e5; */
  height: 40px;
  width: 40px;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  display: inline-flex;
  padding: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;



}

.tooltip .tooltiptext {
  font-size: large;
  visibility: hidden;
  width: 90px;
  height: 20px;
  line-height: 20px;
  background-color: rgb(5, 99, 187);
  color: #fff;
  text-align: center;
  border-radius: 60px;
  justify-content: center;
  align-content: center;
  /* display: inline-flex; */
  padding: 15px 19px;
  position: absolute;
  z-index: 1;
  vertical-align: middle;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}





.socialMediaSection {
  line-height: 26px;
}

.socialMediaLinks {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #45505b;
}

.linkColor {
  color: #45505b;
}

.profession {
  color: rgb(5, 99, 187);
}


/* ----------------------------------------------index Page-----------------------------------------------------*/





.typed-hero {
  display: flex;
  column-gap: 4rem;
}

.typed-animation {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;
  height: 70vh;
}


.txt-rotate {
  color: #0563bb;
  font-size: xx-large;
}

.hero {
  height: 100px;
  width: 50px;
}






/* ----------------------------------------------Resume Page----------------------------------------------------*/







.resumeContent {
  justify-content: center;
  content: "";
  display: table;
  clear: both;  
}

.resumeCol {
  /* margin: 0 auto; */
  width: 50%;
  float: left;


}

.resumeContent .resume-title {
  font-size: 26px;
  font-weight: 700;
  /* margin-top: 10px; */
  margin-bottom: 20px;
  color: #45505b;
}

h4 li {
  list-style-type: none;
}

.webDevelopment {
  margin-top: 40px;
}


.resumeContent .resumeCol h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  /* text-transform: uppercase; */
  font-family: "Poppins", sans-serif;
  color: #0563bb;
  margin-bottom: 10px;
}

.resumeContent .resumeCol i {
  /* background-color: #d8d6d6; */
  font-size: medium;
}



.resumeContent .resumeCol .responsibilities li {
  margin: 20px 0px;
}

.courses {
  margin-top: 68px;
  margin-left: 10px;
}

/*----------------------------------------------About Page---------------------------------------------------*/





.aboutContent {
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.imgDeveloper {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding-top: 30px;
}

.biodata {
  display: flex;
  flex-direction: row;
  column-gap: 300px;

}

.biodataItems {
  list-style-type: none;
  padding: 20px;
}

.biodata ul i::before {
  content: "\f285";
  color: rgb(5, 99, 187);
}

/*----------------------------------------------Portfolio Page---------------------------------------------------*/



.portfolio-links,
a {
  text-decoration: none;
  color: #0f58f6;
  text-align: center;

  /* font-weight: bold; */
}

.portfolio-links {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.image-link {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}




.portfolio-one,
.portfolio-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}




/*----------------------------------------------Contact Page---------------------------------------------------*/
h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;

}

h3 {
  /* padding: 0 0 0 60px; */
  /* font-size: 22px;
  font-weight: 600; */
  /* margin-bottom: 5px; */
  color: #45505b;
}

.containerContactSection {
  display: flex;
  flex-direction: row;

  /* justify-content:space-evenly; */
  justify-content: center;
  column-gap: 100px;
}

.location,
.email,
.call {
  display: flex;
  flex-direction: row;


}

form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  margin-top: 0px;

}

.yourName {
  display: flex;
  flex-direction: row;
  column-gap: 20px;

}

.submit {
  display: inline-block;
  align-items: flex-start;
  background: rgb(5, 99, 187);
  border-radius: 40px;
  width: fit-content;
  color: #fff;
  padding: 5px 10px;
  border: none;
}

.text-center {
  text-align: center !important;
}

.addressIcon {
  color: #0563bb;
  background-color: #eef7ff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  padding: 10px;
}

.location,
.email,
.call {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-bottom: 40px;

}

.contactLocation,
.contactCall,
.contactEmail {
  margin: 5px 0px;
  padding-bottom: 5px;

}

.address {
  margin-top: 75px;
  margin-left: 180px;
}

/*************************************************** Footer section *********************************************/

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25%;
  background-color: rgb(247, 248, 249);
  color: rgb(69, 80, 91);
  text-align: center;
  font-size: 14px;
  padding: 15px 10px;
  margin: 50px 0px 0px 0px;
  opacity: 1;
}

#form {
  margin-top: 50px;
}

.icon {
  color: #fff;
  background-color: rgb(5, 99, 187);
  ;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  padding: 10px;
  margin-right: 5px;
}

.links {
  margin-right: 0px;
}